.submit-number {
    margin: 50px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}

h1 {
    margin: 70px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;

}

p {
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
}

.submit-button {
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 20px;
    border: 0px solid grey;
    padding-right: 16px;
    padding-left: 16px;
    color: rgb(90, 167, 218);
    font-weight: bold;
    font-size: 16px;
}

#year-input {
    border: 1px solid rgb(90, 167, 218);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

}